<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

  <div class="login-container">
    <div class="inner-container">
    <ion-input [(ngModel)]="user.username" placeholder=" Email"></ion-input>
    <ion-input [(ngModel)]="user.password" placeholder=" Password" type="password"></ion-input>
    <ion-button expand="block" class="primary-btn" (click)="loginUser()">Login</ion-button>
    <ion-button expand="block" class="secondary-btn" (click)="registerUser()">Register</ion-button>
  </div>
</div>
