.login-container {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/tds200-h19-5016.appspot.com/o/1-1560329262.jpg?alt=media&token=18956ed5-9ea2-44a9-928c-d8e7555e36a0');
    background-size: auto 100%;
    height: 100%;
}

.inner-container {
    background-color: rgba($color: #fff, $alpha: 0.4);
    height: 100%;
    padding: 20% 2rem;
}