<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Available room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img [src]="room.image" />
        <ion-card-content>
          <ion-card-title>{{room.host}}</ion-card-title>
          <ion-card-subtitle>Room for: {{room.size}}</ion-card-subtitle>
          <ion-text>{{room.description}}</ion-text>
        </ion-card-content>
    </ion-card>
</ion-content>
